*.csv
*.log

.venv/

vitis_test/.apc/
vitis_test/.settings/
vitis_test/.wsdata/
vitis_test/gesture_model/
vitis_test/logs/
vitis_test/.cproject
vitis_test/.lock
vitis_test/.project
vitis_test/.vitis_hls_log_all.xml

pynq_bitstream/pynq_bitstream.cache
pynq_bitstream/pynq_bitstream.hw
pynq_bitstream/pynq_bitstream.gen
pynq_bitstream/pynq_bitstream.runs
pynq_bitstream/pynq_bitstream.sim
pynq_bitstream/ip_upgrade.log

my_dir/
model_dir/
.vscode/
.wsdata/
